*.log
.DS_Store
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpactor.json
backend/.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
apps/**/node_modules
apps/**/.next
apps/**/.turbo
apps/**/.cache
apps/**/out
apps/**/dist
apps/**/build
apps/pos-flutter/.dart_tool
apps/pos-flutter/.flutter-plugins
apps/pos-flutter/.flutter-plugins-dependencies
apps/pos-flutter/.metadata
apps/pos-flutter/android/.gradle
apps/pos-flutter/android/app/build
apps/pos-flutter/ios/Pods
apps/pos-flutter/ios/.symlinks
apps/pos-flutter/macos/Pods
apps/pos-flutter/macos/.symlinks
apps/pos-flutter/linux/flutter/ephemeral
apps/pos-flutter/windows/flutter/ephemeral
backend/public/build
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/pail
backend/vendor
public_old
Homestead.json
Homestead.yaml
Thumbs.db
