includes:
  - vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 7
  paths:
    - app
    - database
    - routes
  treatPhpDocTypesAsCertain: false
  baseline:
    path: phpstan-baseline.neon
